html {
  scroll-behavior: smooth;

  .church {
    font-size: 10px;
    margin: 0 auto;
    max-width: 150em;
    // Variables
    @import "variables/variables";
    // Global
    @import "partials/partials";
    // Pages
    @import "pages/pages";
  }
}
