.jumbotron {
  padding: 100px 50px;
  margin-bottom: 0;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url("../img/pastorIke1.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }

  .hero-text {
    text-align: right;
    color: $white;
    p {
      font-size: 16px;
    }

    h1 {
      &.title {
        font-size: 50px;
      }
    }
  }
}
