// Colors
$white: #fefefe;
$black: #252525;
$light-text-color: $white;
$dark-text-color: $black;
$blue: #398CBD;
$purple: #AF7AF2;
$salmon: #F06165;
$yellow: #F2F07A;
$facebook: #3B5998;
$instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$twitter: #0084FF;
$snapchat: #FFFB00;


.darkbg {
  background-color: $black !important;
  color: $light-text-color !important;
}
.bluebg {
  background-color: $blue !important;
  color: $light-text-color !important;
}
.purplebg {
  background-color: $purple !important;
  color: $light-text-color !important;
}
.yellowbg {
  background-color: $yellow !important;
  color: $dark-text-color !important;
}
.salmonbg {
  background-color: $salmon !important;
  color: $light-text-color !important;
}
.facebook-text {
  color: $facebook;
}
.instagram-text {
  background: $instagram;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter-text {
  color: $twitter;
}
.snapchat-text {
  color: $snapchat;
}

.btn {
  @at-root &-outline-salmon {
    color: $salmon;
    border-color: $salmon;

    &:hover {
      background-color: $salmon;
      color: $white;
    }
  }

  @at-root &-outline-purple {
    color: $purple;
    border-color: $purple;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }

  @at-root &-outline-blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }

  @at-root &-outline-yellow {
    color: $yellow;
    border-color: $yellow;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }
}