body {
  padding-top: 60px;
}
iframe {
  width: 100%;
  height: 400px;
}
.row {
  margin: 0;
}
.btn {
  display: inline-block;
  font-size: 1.5em;
  min-width: 150px;
  padding: 10px 25px;
  transition: .4s all linear;
  border-radius: 15px;
}
.btn-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.btn-purple {
  background-color: $purple !important;
  border-color: $purple !important;
  color: $white;
  &:hover {
    background-color: darken($purple, 20%) !important;
    color: $white !important;
    border-color: darken($purple, 20%) !important;
  }
}
.btn-salmon {
  background-color: $salmon !important;
  border-color: $salmon !important;
  color: $white;
  &:hover {
    background-color: darken($salmon, 20%) !important;
    border-color: darken($salmon, 20%) !important;
  }
}
.btn-purple {
  background-color: $purple !important;
  border-color: $purple !important;
  color: $white;
  &:hover {
    background-color: darken($purple, 20%) !important;
    border-color: darken($purple, 20%) !important;
  }
}
.btn-ghost {
  background: transparent;
  color: $white;
  border: {
    style: solid;
    width: 2px;
    color: $white;
    radius: 15px;
  }
  &:hover {
    background-color: rgba($white, .2);
    color: darken($white, .25);
  }
}
.modal-open {
  .modal {
    &.fade {
      &.in {
        .modal-header {
          text-align: center;
        }
        &:not(.show) {
          opacity: 1;
        }
      }
    }
  }

  .modal-backdrop {
    &.fade {
      &.in {
        opacity: .5;
      }
    }
  }
}
.modal {
  padding-top: 10%;
  .modal-dialog {
    width: 60%;
    max-width: 100%;
    .modal-header {
      align-items: center;
      flex-direction: column;
      border: none;
      .close {
        margin-top: 10px;
        margin-right: 30px;
      }
    }
    .modal-content {
      background-color: $salmon !important;
      color: $light-text-color;
      border-radius: 40px;
      padding: 40px 80px;
    }
  }
}
.jumbotron {
  padding: 75px;
  margin-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap {
    width: 75%;
    p {
      font-size: 16px;
    }
  }
}
.cards {
  text-align: center;
  padding: 60px;
  background: {
    image: url('http://via.placeholder.com/600/600');
    position: center center;
    size: 100%
  }

  h2 {
  }
  a {
    text-decoration: none;
    font: {
      size: 1.5em;
    }
  }
}