.nopad {
  padding: 0;
}

.mobile-hz-nopad{
  @media(max-width:768px) {
    padding: {
      left: 0 !important;
      right: 0 !important;
    }
  }
}

.mobile-v-nopad {
  @media(max-width:768px) {
    padding: {
      top: 0 !important;
      bottom: 0 !important;
    }
  }
}

.morepad {
  padding: 60px;

  @media (min-width: 1400px) {
    padding: 120px;
  }
}
.pv15 {
  padding: {
    top: 15px;
    bottom: 15px;
  }
}
.pv30 {
  padding: {
    top: 30px;
    bottom: 30px;
  }
}
.pv60 {
  padding: {
    top: 60px;
    bottom: 60px;
  }
}
.mobile-m0 {
  @media (max-width: 768px) {
    margin: 0 !important;
  }
}
.mobile-mb15 {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.mb15 {
  margin-bottom: 15px;
}
.mb25 {
  margin-bottom: 25px;
}

.mb50 {
  margin-bottom: 50px;
}
.mobile-mb50 {
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.flip {
  .row {
    .col-lg-6 {
      &.content {
        order: -1;
      }
    }
  }
}
