.navbar {
  min-height: 100px;
  box-shadow: 4px 4px 8px rgba($black, .4);
  .navbar-brand {
    align-items: center;
    display: flex;
    text-decoration: none;
    > img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
  .navbar-nav {
    .nav-item {
      padding-right: 35px;

      @media (max-width: 768px) {
        padding-top: 10px;
      }

      &:last-child {
        padding-right: 0;
      }
      .nav-link {
        text-decoration: none;
        font: {
          weight: 700;
        }
      }
      .btn {
        font: {
          size: 1em;
          weight: 700;
        }
        padding: 10px 20px;
      }
      &.active {
        .nav-link {
          border-bottom: 3px solid $salmon;
        }
      }
    }
  }
}