@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800);html {
  scroll-behavior: smooth;
}
html .church {
}
html .church .darkbg {
  background-color: #252525 !important;
  color: #fefefe !important;
}
html .church .bluebg {
  background-color: #398CBD !important;
  color: #fefefe !important;
}
html .church .purplebg {
  background-color: #AF7AF2 !important;
  color: #fefefe !important;
}
html .church .yellowbg {
  background-color: #F2F07A !important;
  color: #252525 !important;
}
html .church .salmonbg {
  background-color: #F06165 !important;
  color: #fefefe !important;
}
html .church .facebook-text {
  color: #3B5998;
}
html .church .instagram-text {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
html .church .twitter-text {
  color: #0084FF;
}
html .church .snapchat-text {
  color: #FFFB00;
}
html .church body {
  padding-top: 60px;
}
html .church iframe {
  width: 100%;
  height: 400px;
}
@media (min-width: 1600px) {
  html .church iframe {
    height: 600px;
  }
}
html .church .row {
  margin: 0;
  width: 100%;
}
html .church .btn {
  display: inline-block;
  font-size: 1.5em;
  min-width: 150px;
  padding: 10px 25px;
  transition: 0.4s all linear;
  border-radius: 15px;
}
html .church .btn-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
html .church .btn-purple {
  background-color: #AF7AF2 !important;
  border-color: #AF7AF2 !important;
  color: #fefefe;
}
html .church .btn-purple:hover {
  background-color: #771de9 !important;
  color: #fefefe !important;
  border-color: #771de9 !important;
}
html .church .btn-salmon {
  background-color: #F06165 !important;
  border-color: #F06165 !important;
  color: #fefefe;
}
html .church .btn-salmon:hover {
  background-color: #d7141a !important;
  border-color: #d7141a !important;
}
html .church .btn-purple {
  background-color: #AF7AF2 !important;
  border-color: #AF7AF2 !important;
  color: #fefefe;
}
html .church .btn-purple:hover {
  background-color: #771de9 !important;
  border-color: #771de9 !important;
}
html .church .btn-ghost {
  background: transparent;
  color: #fefefe;
  border-style: solid;
  border-width: 2px;
  border-color: #fefefe;
  border-radius: 15px;
}
html .church .btn-ghost:hover {
  background-color: rgba(254, 254, 254, 0.2);
  color: #fdfdfd;
}
html .church .modal-open .modal.fade.in .modal-header {
  text-align: center;
}
html .church .modal-open .modal.fade.in:not(.show) {
  opacity: 1;
}
html .church .modal-open .modal-backdrop.fade.in {
  opacity: 0.5;
}
html .church .modal {
  padding-top: 10%;
}
html .church .modal .modal-dialog {
  width: 60%;
  max-width: 100%;
}
html .church .modal .modal-dialog .modal-header {
  align-items: center;
  flex-direction: column;
  border: none;
}
html .church .modal .modal-dialog .modal-header .close {
  margin-top: 10px;
  margin-right: 30px;
}
html .church .modal .modal-dialog .modal-content {
  background-color: #F06165 !important;
  color: #fefefe;
  border-radius: 40px;
  padding: 40px 80px;
}
html .church .jumbotron {
  padding: 75px;
  margin-bottom: 0;
}
@media (min-width: 1600px) {
  html .church .jumbotron {
    min-height: 600px;
  }
}
html .church .content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  html .church .content {
    min-height: 350px;
  }
}
html .church .content .wrap {
  width: 75%;
}
@media (max-width: 768px) {
  html .church .content .wrap {
    width: 90%;
  }
}
@media (min-width: 1600px) {
  html .church .content .wrap {
    font-size: 1.25em;
    max-width: 680px;
  }
}
html .church .content .wrap p {
  font-size: 16px;
}
@media (min-width: 1600px) {
  html .church .content .wrap p {
    font-size: 1.25em;
  }
}
html .church .cards {
  text-align: center;
  padding: 60px;
  background-image: url("http://via.placeholder.com/600/600");
  background-position: center center;
  background-size: 100%;
}
html .church .cards a {
  text-decoration: none;
  font-size: 1.5em;
}
html .church .nopad {
  padding: 0;
}
@media (max-width: 768px) {
  html .church .mobile-hz-nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 768px) {
  html .church .mobile-v-nopad {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
html .church .morepad {
  padding: 60px;
}
@media (min-width: 1400px) {
  html .church .morepad {
    padding: 120px;
  }
}
html .church .pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  html .church .mobile-m0 {
    margin: 0 !important;
  }
}
html .church .mb15 {
  margin-bottom: 15px;
}
html .church .mb25 {
  margin-bottom: 25px;
}
html .church .mb50 {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  html .church .mobile-mb50 {
    margin-bottom: 50px;
  }
}
html .church .flip .row .col-lg-6.content {
  order: -1;
}
html .church h1, html .church h2, html .church h3, html .church h4, html .church h5, html .church h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
html .church h1 {
  font-size: 6em;
}
@media (max-width: 768px) {
  html .church h1 {
    font-size: 4em;
  }
}
@media (min-width: 1400px) {
  html .church h1 {
    font-size: 9em;
  }
}
html .church h2 {
  font-size: 2.7em;
}
@media (min-width: 1400px) {
  html .church h2 {
    font-size: 4em;
  }
}
html .church h3 {
  font-size: 2.5em;
}
html .church h4 {
  font-size: 2em;
}
html .church h5 {
  font-size: 1em;
}
html .church h6 {
  font-size: 0.75em;
}
html .church p {
  font-size: 16px;
}
@media (min-width: 1400px) {
  html .church p {
    font-size: 1.75em;
  }
}
html .church a {
  color: inherit;
}
html .church blockquote {
  color: #777;
  font-size: 24px;
  font-style: italic;
}
@media (min-width: 1400px) {
  html .church blockquote {
    font-size: 2em;
  }
}
html .church .jumbotron.home h2, html .church .jumbotron.about h2, html .church .jumbotron.serve h2, html .church .jumbotron.connect h2 {
  font-size: 4em;
}
@media (max-width: 768px) {
  html .church .jumbotron.home h2, html .church .jumbotron.about h2, html .church .jumbotron.serve h2, html .church .jumbotron.connect h2 {
    font-size: 2.9em;
  }
}
@media (min-width: 1400px) {
  html .church .jumbotron.home h2, html .church .jumbotron.about h2, html .church .jumbotron.serve h2, html .church .jumbotron.connect h2 {
    font-size: 6.5em;
  }
}
@media (min-width: 1400px) {
  html .church .jumbotron.home p, html .church .jumbotron.about p, html .church .jumbotron.serve p, html .church .jumbotron.connect p {
    font-size: 2.5em;
  }
}
html .church .navbar {
  min-height: 100px;
  box-shadow: 4px 4px 8px rgba(37, 37, 37, 0.4);
}
html .church .navbar .navbar-brand {
  align-items: center;
  display: flex;
  text-decoration: none;
}
@media (min-width: 1400px) {
  html .church .navbar .navbar-brand {
    font-size: 2em;
  }
}
html .church .navbar .navbar-brand > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
html .church .navbar .navbar-nav .nav-item {
  padding-right: 35px;
}
@media (max-width: 768px) {
  html .church .navbar .navbar-nav .nav-item {
    padding-top: 10px;
  }
}
html .church .navbar .navbar-nav .nav-item:last-child {
  padding-right: 0;
}
html .church .navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  font-weight: 700;
}
@media (min-width: 1400px) {
  html .church .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.5em;
  }
}
html .church .navbar .navbar-nav .nav-item .btn {
  font-size: 1em;
  font-weight: 700;
  padding: 10px 20px;
}
html .church .navbar .navbar-nav .nav-item.active .nav-link {
  border-bottom: 3px solid #F06165;
}
html .church footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px 50px;
}
html .church footer p {
  margin: 0;
  text-align: center;
}
html .church .jumbotron.home {
  padding: 300px 50px 55px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url(/images/pastorIke2.jpg?5c5efcd10c180edbdae692224c1203c2);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
html .church .jumbotron.home .hero-text {
  text-align: right;
  color: #fefefe;
}
html .church .jumbotron.home .hero-text p {
  font-size: 16px;
}
@media (min-width: 1400px) {
  html .church .jumbotron.home .hero-text p {
    font-size: 2.3em;
    max-width: 680px;
    float: right;
  }
}
html .church .jumbotron.home .hero-text h1.title {
  font-size: 3.9em;
}
@media (min-width: 1400px) {
  html .church .jumbotron.home .hero-text h1.title {
    font-size: 5.5em;
  }
}
html .church .know-social-icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
html .church .jumbotron.about {
  padding: 150px 50px;
}
html .church .jumbotron.about:first-of-type {
  margin-top: 100px;
}
html .church .leadership .row .media img {
  width: 100px;
}
html .church .leadership .row .media .media-body h3 {
  font-size: 2em;
}
@media (min-width: 1400px) {
  html .church .leadership .row .media .media-body h3 {
    font-size: 3em;
  }
}
html .church .leadership .row .media .media-body h3 small {
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 5px;
  display: block;
}
@media (min-width: 1400px) {
  html .church .leadership .row .media .media-body h3 small {
    font-size: 0.5em;
  }
}
html .church .leadership .row .media .media-body .social-icons .fa {
  font-size: 25px;
  margin-right: 5px;
}
html .church .leadership .row .media img.img-circle {
  width: 100px;
  margin-right: 15px;
  border: 1px solid #252525;
}
html .church .beliefs ul {
  margin: 0;
}
html .church .beliefs ul li {
  font-size: 16px;
}
@media (max-width: 768px) {
  html .church .beliefs ul li {
    padding-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  html .church .beliefs ul li {
    font-size: 1.75em;
  }
}
html .church .jumbotron.serve {
  padding: 150px 50px;
  margin-top: 100px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url(/images/pastorIke-minElijah.jpg?77df4bec28bc2b2c12647003ae1cd91c);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
html .church .jumbotron.events {
  padding: 150px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.95)), url(/images/bbb_flyer.png?a0a4e6f02de534782a85cce2e798a5f4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 22.5%;
  border-radius: 0;
}
@media (max-width: 768px) {
  html .church .jumbotron.events {
    padding: 100px 0;
  }
}
html .church .jumbotron.events:first-of-type {
  margin-top: 100px;
}