.jumbotron.about {
  padding: 150px 50px;
  &:first-of-type {
    margin-top: 100px;
  }
}
.leadership {
  .row {
    .media {
      img {
        width: 100px;
      }
      .media-body {
        h3 {
          font-size: 2em;
          small {
            font-size: 14px;
            margin-top: 1px;
            margin-bottom: 5px;
            display: block;
          }
        }
        .social-icons {
          .fa {
            font-size: 25px;
            margin-right: 5px;
          }
        }
      }
      img {
        &.img-circle {
          width: 100px;
          margin-right: 15px;
          border: 1px solid $black;
        }
      }
    }
  }
}
.beliefs {
  ul {
    margin: 0;
    
    li {
      font-size: 16px;
      @media(max-width: 768px) {
        padding-bottom: 20px;
      }
    }
  }
}