.jumbotron.events {
  padding: 150px 50px;
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, .95)), url("../img/bbb_flyer.png");
    repeat: no-repeat;
    size: cover;
    position: center 22.5%;
  }
  border: {
      radius: 0;
  }

  @media(max-width: 768px) {
    padding: 100px 0;
  }

  &:first-of-type {
    margin-top: 100px;
  }
}

.event {
  @at-root &__content{
    @at-root &-wrap {
      width: 90% !important;
    }

    @at-root &-title {
      @at-root &-date {
        color: rgba($white, .75);
        display: block;
        font: {
          size: .5em;
        }
        margin: 10px 0;
      }
    }

    @at-root &-address {
      color: rgba($white, .75);
      font: {
        style: italic;
      }
    }
  }
}