$womens-primary: #3A0E74;
$womens-secondary: #FFDE59;

.kingdom-woman {
    h1, h2, h3, h4, h5, h6 {
        @include headings('Pinyon Script', 400);
    }

    .btn-primary {
        background: {
            color: $womens-secondary;
        }
        border: {
            color: $womens-secondary;
        }
        color: $black;

        &:hover {
            background: {
                color: darken($womens-secondary, 20%);
            }
            border: {
                color: darken($womens-secondary, 20%);
            }
        }

        &.register {
            font: {
                size: 3em;
            }
        }
    }

    .btn-secondary {
        background: {
            color: $womens-primary;
        }
        border: {
            color: $womens-primary;
        }
        color: $white;

        &:hover {
            background: {
                color: darken($womens-primary, 5%);
            }
            border: {
                color: darken($womens-primary, 5%);
            }
            color: darken($white, 5%);
        }
    }

    .jumbotron {
        background: {
            image: linear-gradient(-45deg, $womens-primary, rgba(lighten($womens-primary, 20%), .5)), url('../img/gtcc.jpg');
            repeat: no-repeat;
            size: cover;
        }
        padding: 20em 0 7.5em 2.5em;
        position: relative;

        @media screen and (min-width: 768px) {
            background: {
                size: 100% auto;
            }
            padding-left: 7.5em;
        }

        h1 {
            color: $womens-secondary;
            line-height: 0.5;
            margin-left: 0.1em;
            position: relative;
            width: 2.38em;
            font: {
                size: 13em;
                style: normal;
            }

            @media screen and (min-width: 768px) {
                font: {
                    size: 26em;
                }
                line-height: 0.75;
                margin-left: 0;
            }

            @media screen and (min-width: 960px) {
                font: {
                    size: 25em;
                }
                margin-left: 0.2em;
            }

            small {
                color: $white;
                display: block;
                position: absolute;
                right: 0;
                top: -0.3em;
                font: {
                    family: 'Bebas Neue';
                    size: 0.2em;
                }

                @media screen and (min-width: 768px) {
                    top: 0.3em;
                }
                span {
                    display: block;
                    font-size: 0.4em;
                    margin-bottom: 0.7em;

                    @media screen and (min-width: 768px) {
                        margin-bottom: 0.1em;
                    }
                }
            }

            .small-title {
                bottom: 30%;
                font: {
                    size: 0.11em;
                }
                left: -5%;
                position: absolute;
                top: 0;
                transform: rotate(-90deg);

                @media screen and (min-width: 768px) {
                    left: -2%;
                }
            }
        }

        .details {
            margin-top: 5em;
        }

        .photo {
            background: {
                image: url('../img/pastorike-km.png');
                repeat: no-repeat;
                size: auto 100%;
            }
            bottom: 0;
            display: none;
            height: 30em;
            position: absolute;
            right: 0;
            width: 30em;

            @media screen and (min-width: 510px) {
                display: block;
            }

            @media screen and (min-width: 768px) {
                height: 35em;
                width: 35em;
            }

            @media screen and (min-width: 960px) {
                height: 45em;
                right: 5em;
                width: 56em;
            }
        }
        
        address, time {
            font-size: 1.75em;
            margin-bottom: 0;
        }

        .btn {
            margin: {
                right: 1em;
                top: 1em;
            }
            &:last-child {margin-right: 0;}
        }
    }

    .wrap {
        padding: 5em 0;

        @media screen and (min-width: 959px) {
            padding: 0;
        }

        h2 {
            line-height: 0.8;
            margin-left: auto;
            max-width: 7em;

            &:after {
                border: .05em solid $womens-primary;
                content: '';
                display: block;
                margin: 0.2em 0 0.3em auto;
                width: 5em;
            }
        }
        p {
            margin-left: auto;
            max-width: 26em;
        }
    }

    .features {
        background: {
            attachment: fixed;
            image: linear-gradient(45deg, rgba($womens-primary, .7), rgba(lighten($womens-primary, .5), .95)), url('../img/gtcc.jpg');
            position: top center;
            repeat: no-repeat;
        }
        color: $womens-primary;
        padding: 10em 0;
        margin: 0 auto;

        h2 {
            color: $womens-secondary;
        }

        .card {
            margin: 0 auto 3em;
            max-width: 100%;
            padding: 5em 0 10em;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                max-width: 32%;
            }
            
            .fas {
                font: {
                    size: 4em;
                }
                margin-bottom: 0.2em;
            }
            
            p {
                font-size: 1.3em;
                margin: 0 auto;
            }

            &.fire {
                p {max-width: 17em;}
            }

            &.food {
                p {max-width: 13em;}
            }

            &.fellowship {
                p {max-width: 15em;}
            }
        }
    }

    .speakers {
        .speaker {
            background: {
                image: url('https://i.pravatar.cc/720');
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            padding-top: 75%;
            position: relative;

            @media screen and (min-width: 576px) {
                padding-top: 50%;
            }

            @media screen and (min-width: 768px) {
                padding-top: 33.3%;
            }

            @media screen and (min-width: 960px) {
                padding-top: 25%;
            }

            &.speaker-noimg {
                background: {
                    image: none !important;
                }
                padding-top: 75%;
                
                @media screen and (min-width: 576px) {
                    padding-top: 50%;
                }

                @media screen and (min-width: 768px) {
                    padding-top: 33.3%;
                }
    
                @media screen and (min-width: 960px) {
                    padding-top: 25%;
                }

                .text-container {
                    background-image: none;
                    color: $black;
                    opacity: 1;

                    h2 {
                        line-height: 0.8;
                        margin-right: auto;
                        max-width: 6em;
            
                        &:after {
                            border: .05em solid $womens-primary;
                            content: '';
                            display: block;
                            margin: 0.2em 0 0.3em;
                            width: 4em;
                        }
                    }
                    p {
                        margin-left: auto;
                        max-width: 26em;
                    }
                }
            }
            &.bishop {background-image: url('../img/pastorike.jpg');}
            &.casandra {
                background: {
                    image: url('../img/presidentCasandra.jpg');
                    position: center -16em;
                }

                @media screen and (min-width: 768px) {
                    background-position: center;
                }
            }
            &.courtney {
                background: {
                    image: url('../img/courtney-white.jpg');
                    position: -6em -20em;
                    size: 200% auto;
                }

                @media screen and (min-width: 768px) {
                    background-position: -6em -10em;
                }
                
                @media screen and (min-width: 960px) {
                    background-position: -6em -20em;
                }
            }
            &.peggy {
                background: {
                    image: url('../img/peggy.jpg');
                    position: center -5em;
                }

                @media screen and (min-width: 768px) {
                    background-position: center;
                }

                @media screen and (min-width: 960px) {
                    background-position: center -4em;
                }
            }

            .text-container {
                background: {
                    image: linear-gradient(-45deg, rgba($womens-secondary, .9), rgba($womens-primary, .75));
                }
                bottom: 0;
                color: $white;
                left: 0;
                margin: auto;
                padding: 25% 0 0 4em;
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
                transition: .36s all ease;

                @media screen and (min-width: 768px) {
                    padding-top: 33.3%;
                }
    
                @media screen and (min-width: 960px) {
                    padding-top: 25%;
                }

                p {
                    max-width: 19em;
                }
            }

            &:hover {
                .text-container {
                    opacity: 1;
                }
            }
        }
    }

    .schedule {
        background: {
            image: linear-gradient(45deg, rgba($womens-primary, .7), rgba(#38B6FF, .95));
        }
        padding: 10em 0;

        & > .row {
            margin: 0 auto;
            max-width: 96em;
        }

        .nav-tabs {
            border-color: $womens-primary;

            .nav-link {
                font-size: 2em;

                &:hover {
                    border-color: $womens-primary;
                }
            }

            .active {
                background-color: rgba($womens-primary, .5);
                border-color: $womens-primary;
                color: $white;
            }
        }
    }

    .contact {
        background: {
            attachment: fixed;
            image: linear-gradient(45deg, rgba($womens-primary, .7), rgba(lighten($womens-primary, .5), .95)), url('../img/smnf.png');
            position: center top;
            size: 100% auto;
        }
        color: $white;
        padding: 10em 0;

        h2 {
            color: $womens-secondary;
        }

        .btn {
            display: inline-block;
            padding: 10px;
            margin-bottom: 1em;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        a:not(.btn) {
            font-size: 2em;
            margin: {
                right: 1em;
            }

            &:last-child {
                margin: {
                    right: 0;
                }
            }
        }
    }

    .modal {
        padding-top: 0;
        .close {
            color: $white;
        }
        .modal-dialog {
            background: {
                color: transparent;
            }
            margin: 0 auto;
            min-width: 375px;

            .modal-header {
                padding: 0;
            }
            .modal-content {
                background: {
                    color: transparent !important;
                }
                border: none;
                padding: 0;
            }
        }
    }
}