$mens-primary: #5271FF;
$mens-secondary: #FFDE59;

.kingdom-man {
    h1, h2, h3, h4, h5, h6 {
        @include headings('Bebas Neue', 400);
    }

    .btn-primary {
        background: {
            color: $mens-secondary;
        }
        border: {
            color: $mens-secondary;
        }
        color: $black;

        &:hover {
            background: {
                color: darken($mens-secondary, 20%);
            }
            border: {
                color: darken($mens-secondary, 20%);
            }
        }

        &.register {
            font: {
                size: 3em;
            }
        }
    }

    .btn-secondary {
        background: {
            color: $mens-primary;
        }
        border: {
            color: $mens-primary;
        }
        color: $white;

        &:hover {
            background: {
                color: darken($mens-primary, 5%);
            }
            border: {
                color: darken($mens-primary, 5%);
            }
            color: darken($white, 5%);
        }
    }

    .jumbotron {
        background: {
            image: linear-gradient(-45deg, $mens-primary, rgba(#38B6FF, .5)), url('../img/gtcc.jpg');
            repeat: no-repeat;
            size: cover;
        }
        padding: 20em 0 7.5em 2.5em;
        position: relative;

        @media screen and (min-width: 768px) {
            background: {
                size: 100% auto;
            }
            padding-left: 7.5em;
        }

        h1 {
            color: $mens-secondary;
            line-height: 0.85;
            font: {
                size: 8em;
                style: normal;
            }

            @media screen and (min-width: 768px) {
                font: {
                    size: 12em;
                }
                line-height: 0.75;
            }

            @media screen and (min-width: 960px) {
                font: {
                    size: 14em;
                }
            }

            small {
                color: $white;
                display: block;
                font-size: 0.5em;
                span {
                    display: block;
                    font-size: 0.4em;
                }
            }

            &:after {
                border: 0.02em solid $white;
                content: '';
                display: block;
                margin-top: 0.2em;
                width: 46%;
            }
        }

        .photo {
            background: {
                image: url('../img/pastorike-km.png');
                repeat: no-repeat;
                size: auto 100%;
            }
            bottom: 0;
            display: none;
            height: 30em;
            position: absolute;
            right: 0;
            width: 30em;

            @media screen and (min-width: 510px) {
                display: block;
            }

            @media screen and (min-width: 768px) {
                height: 35em;
                width: 35em;
            }

            @media screen and (min-width: 960px) {
                height: 45em;
                right: 5em;
                width: 56em;
            }
        }
        
        address, time {
            font-size: 1.75em;
            margin-bottom: 0;
        }

        .btn {
            margin: {
                right: 1em;
                top: 1em;
            }
            &:last-child {margin-right: 0;}
        }
    }

    .wrap {
        padding: 5em 0;

        @media screen and (min-width: 959px) {
            padding: 0;
        }

        h2 {
            line-height: 0.8;
            margin-left: auto;
            max-width: 7em;

            &:after {
                border: .05em solid $mens-primary;
                content: '';
                display: block;
                margin: 0.2em 0 0.3em auto;
                width: 5em;
            }
        }
        p {
            margin-left: auto;
            max-width: 26em;
        }
    }

    .features {
        background: {
            attachment: fixed;
            image: linear-gradient(45deg, rgba($mens-primary, .7), rgba(#38B6FF, .95)), url('../img/gtcc.jpg');
            position: top center;
            repeat: no-repeat;
        }
        color: $mens-primary;
        padding: 10em 0;
        margin: 0 auto;

        h2 {
            color: $mens-secondary;
        }

        .card {
            margin: 0 auto 3em;
            max-width: 100%;
            padding: 5em 0 10em;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                max-width: 32%;
            }
            
            .fas {
                font: {
                    size: 4em;
                }
                margin-bottom: 0.2em;
            }
            
            p {
                font-size: 1.3em;
                margin: 0 auto;
            }

            &.fire {
                p {max-width: 17em;}
            }

            &.food {
                p {max-width: 13em;}
            }

            &.fellowship {
                p {max-width: 15em;}
            }
        }
    }

    .speakers {
        .speaker {
            background: {
                image: url('https://i.pravatar.cc/720');
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            padding-top: 75%;
            position: relative;

            @media screen and (min-width: 576px) {
                padding-top: 50%;
            }

            @media screen and (min-width: 768px) {
                padding-top: 33.3%;
            }

            @media screen and (min-width: 960px) {
                padding-top: 25%;
            }

            &.speaker-noimg {
                background: {
                    image: none !important;
                }
                padding-top: 75%;
                
                @media screen and (min-width: 576px) {
                    padding-top: 50%;
                }

                @media screen and (min-width: 768px) {
                    padding-top: 33.3%;
                }
    
                @media screen and (min-width: 960px) {
                    padding-top: 25%;
                }

                .text-container {
                    background-image: none;
                    color: $black;
                    opacity: 1;

                    h2 {
                        line-height: 0.8;
                        margin-right: auto;
                        max-width: 6em;
            
                        &:after {
                            border: .05em solid $mens-primary;
                            content: '';
                            display: block;
                            margin: 0.2em 0 0.3em;
                            width: 4em;
                        }
                    }
                    p {
                        margin-left: auto;
                        max-width: 26em;
                    }
                }
            }
            &.bishop {background-image: url('../img/pastorike.jpg');}
            &.elijah {background-image: url('../img/minelijah2020.jpg');}
            &.demetrius {
                background: {
                    image: url('../img/pastorD.jpg');
                    position: center -7em;
                }
            }

            .text-container {
                background: {
                    image: linear-gradient(45deg, rgba($mens-secondary, .9), rgba($mens-primary, .75));
                }
                bottom: 0;
                color: $white;
                left: 0;
                margin: auto;
                padding: 25% 0 0 4em;
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
                transition: .36s all ease;

                @media screen and (min-width: 768px) {
                    padding-top: 33.3%;
                }
    
                @media screen and (min-width: 960px) {
                    padding-top: 25%;
                }

                p {
                    max-width: 19em;
                }
            }

            &:hover {
                .text-container {
                    opacity: 1;
                }
            }
        }
    }

    .schedule {
        background: {
            image: linear-gradient(45deg, rgba($mens-primary, .7), rgba(#38B6FF, .95));
        }
        padding: 10em 0;

        & > .row {
            margin: 0 auto;
            max-width: 96em;
        }

        .nav-tabs {
            border-color: $mens-primary;

            .nav-link {
                font-size: 2em;

                &:hover {
                    border-color: $mens-primary;
                }
            }

            .active {
                background-color: rgba($mens-primary, .5);
                border-color: $mens-primary;
                color: $white;
            }
        }
    }

    .contact {
        background: {
            attachment: fixed;
            image: linear-gradient(45deg, rgba($mens-primary, .7), rgba(#38B6FF, .95)), url('../img/mawf.png');
            position: center top;
            size: 100% auto;
        }
        color: $white;
        padding: 10em 0;

        h2 {
            color: $mens-secondary;
        }

        .btn {
            display: inline-block;
            padding: 10px;
            margin-bottom: 1em;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        a:not(.btn) {
            font-size: 2em;
            margin: {
                right: 1em;
            }

            &:last-child {
                margin: {
                    right: 0;
                }
            }
        }
    }

    .sponsors {
        padding: {
            bottom: 2em;
            top: 2em;
        }
        .sponsor {
            font-size: 2.1em;
            padding: 1em 0;

            @media screen and (min-width: 959px) {
                font-size: 2.6em;
            }

            a {
                font: {
                    family: 'Open Sans', sans-serif;
                }
            }

            img {
                height: 64px;
                width: auto;

                @media screen and (min-width: 959px) {
                    height: 100px;
                }
            }
        }
    }

    .modal {
        padding-top: 0;
        .close {
            color: $white;
        }
        .modal-dialog {
            background: {
                color: transparent;
            }
            margin: 0 auto;
            min-width: 375px;

            .modal-header {
                padding: 0;
            }
            .modal-content {
                background: {
                    color: transparent !important;
                }
                border: none;
                padding: 0;
            }
        }
    }
}