.jumbotron.serve {
  padding: 150px 50px;
  margin: {
    top: 100px;
    bottom: 0;
  }
  background: {
    image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../img/pastorIke-minElijah.jpg");
    position: center 0;
    repeat: no-repeat;
    size: cover;
  }
}